/*STYLE RESET START*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  color: #fff;
  font: 700 18px "Rotonda", sans-serif;
  background-color: #44c7f4;
  height: 100%;
}

body.no-scroll {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

textarea {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
}

label {
  margin: 0;
}

input, button, select {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

.height-helper {
  min-height: 100%;
  overflow: hidden;
  background: url("../img/bg-fixed.jpg") no-repeat top;
}

/*STYLE RESET END*/
@font-face {
  font-family: 'Rotonda';
  src: url("../fonts/Rotonda-Bold.eot");
  src: url("../fonts/Rotonda-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Rotonda-Bold.woff2") format("woff2"), url("../fonts/Rotonda-Bold.woff") format("woff"), url("../fonts/Rotonda-Bold.ttf") format("truetype"), url("../fonts/Rotonda-Bold.svg#Rotonda-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica-Regular.eot");
  src: url("../fonts/Helvetica-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica-Regular.woff2") format("woff2"), url("../fonts/Helvetica-Regular.woff") format("woff"), url("../fonts/Helvetica-Regular.ttf") format("truetype"), url("../fonts/Helvetica-Regular.svg#Helvetica-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 100%;
  padding: 0 15px;
  max-width: 1315px;
  margin: 0 auto;
}

.flex-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.justify-sb {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-sa {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.flex-d-column-rev {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.justify-c {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  display: inline-block;
}

.header {
  position: relative;
  z-index: 10;
}

.header__burger {
  cursor: pointer;
  display: none;
}

.header__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
  height: 110px;
  position: relative;
}

.header__nav {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
}

.header__link {
  border-bottom: 1px solid #fff;
}

.header__link + .header__link {
  margin-left: 55px;
}

.logo {
  max-width: 210px;
  max-height: 80px;
  display: inline-block;
}

.logo--absolute {
  position: absolute;
  left: 0;
  top: 40%;
}

.promo-link {
  background-color: #15bef0;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 99;
}

.promo-link__goldMob {
  position: absolute;
  display: none;
  max-width: initial;
  top: 0;
}

.promo-link__goldMob--left {
  left: 0;
}

.promo-link__goldMob--right {
  right: 0;
}

.promo-link__mob {
  display: none;
}

.promo-link__text {
  position: relative;
}

.promo-link__gold {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: initial;
}

.promo-link__gold--left {
  right: -webkit-calc(100% + 50px);
  right: calc(100% + 50px);
}

.promo-link__gold--right {
  left: -webkit-calc(100% + 50px);
  left: calc(100% + 50px);
}

.footer {
  background-color: #fff;
  padding: 20px 0 5px;
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  position: relative;
  z-index: 999;
}

.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  color: #44c7f4;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
}

.footer__nav li {
  position: relative;
}

.footer__nav li::before {
  content: '';
  position: absolute;
  background-color: #b4252c;
  height: 7px;
  width: 7px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -32px;
}

.footer__nav li:first-child::before {
  display: none;
}

.footer__nav li + li {
  margin-left: 55px;
}

.footer__logo {
  margin-top: 35px;
  text-align: center;
}

.footer__author {
  margin-top: 15px;
  font-size: 11px;
  color: #3d2c82;
  text-align: center;
}

.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #0f4da2;
  padding: 25px 0 20px;
  text-align: center;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  opacity: 0;
  z-index: -1;
}

.cookies__text {
  margin: 0 auto 15px;
  max-width: 600px;
  font-size: 12px;
  font-family: "Helvetica" ,sans-serif;
  font-weight: 400;
}

.cookies__text a {
  color: #f6ee0e;
  border-bottom: 1px solid #f6ee0e;
}

.cookies.js-show {
  opacity: 1;
  z-index: 999;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
  opacity: 0;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  pointer-events: none;
}

.popup__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 37px;
  height: 37px;
  cursor: pointer;
}

.popup__wrap {
  max-width: 1080px;
  width: 100%;
  padding: 45px 55px;
  position: relative;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  background-color: #5ec3f0;
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.popup__wrap::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/popup-snow.png) no-repeat bottom;
  pointer-events: none;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  z-index: -1;
}

.popup__wrap--dark {
  background-color: #0f357d;
}

.popup__wrap--dark::before {
  background: url(../img/popup-bg-dark.png) no-repeat bottom;
}

.popup__wrap--min {
  max-width: 580px;
}

.popup.no-code .popup__wrap {
  min-height: 625px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup.no-code .popup__wrap .title {
  padding-top: 100px;
}

.popup .open-oreo__photo {
  text-align: center;
  margin-top: 35px;
  position: relative;
}

.popup .open-oreo__photo img {
  cursor: pointer;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
}

.popup .open-oreo__photo .title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
}

.js-popup-show {
  z-index: 99999;
  opacity: 1;
  pointer-events: visible;
}

.js-popup-show .popup__wrap {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.rules {
  margin-top: 10px;
}

.rules__card {
  text-align: center;
  width: -webkit-calc(100% / 3);
  width: calc(100% / 3);
  margin-top: -40px;
}

.rules__card:nth-child(2) {
  width: 45%;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-top: 0;
}

.rules__num {
  width: 46px;
  height: 46px;
  border: 5px solid #ffffff;
  display: inline-block;
  margin: 0 auto;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  font-size: 39px;
}

.rules__descPromo {
  font-size: 12px;
  margin-top: 5px;
  color: #243676;
}

.rules__promo {
  margin-top: 25px;
}

.rules__promo img {
  -webkit-box-shadow: 0 0 50px #fff;
          box-shadow: 0 0 50px #fff;
}

.rules__promo--ticket {
  margin-top: 45px;
}

.rules__promo--ticket img {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.rules__promo--bigMt {
  margin-top: 45px;
}

.rules__promo .title {
  color: #243575;
  padding: 13px 30px;
  background-color: #f5fefb;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  display: inline-block;
}

.rules__download {
  color: #243575;
  font-size: 25px;
  border-bottom: 2px solid #243575;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
  margin-top: 15px;
  display: inline-block;
}

.rules__download:hover {
  border-bottom: 2px solid transparent;
  color: #243575;
}

body.snow .height-helper {
  background: url("../img/snow.png") repeat-y bottom;
}

body.snow .header__link {
  color: #0f4da2;
  border-bottom: 1px solid #0f4da2;
}

body.snow .cookies {
  background-color: #44c7f4;
}

body.snow .btn--cookie {
  background-color: #0f4da2;
}

body.snow .popup__wrap {
  background-color: #5ec3f0;
}

body.snow .rules__descPromo,
body.snow .rules__download,
body.snow .rules__promo .title--yellow {
  color: #243676;
}

body.snow .rules__download {
  border-bottom: 2px solid #243676;
}

body.snow .btn--send {
  background-color: #0f4da2;
}

body.zaglushka-active .height-helper {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

body.zaglushka-active .zaglushka {
  pointer-events: visible;
  z-index: 99;
  opacity: 1;
}

.btn {
  display: inline-block;
  text-align: center;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  cursor: pointer;
}

.btn--circle {
  width: 100px;
  height: 100px;
  background-color: #ef2834;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Rotonda", sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.btn--mt {
  margin-top: 20px;
}

.btn--cookie {
  font-family: "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: 400;
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.29);
          box-shadow: 0 0 18px rgba(0, 0, 0, 0.29);
  -webkit-border-radius: 18px;
          border-radius: 18px;
  background-color: #44c7f4;
  max-width: 225px;
  width: 100%;
  padding: 5px 10px;
}

.btn--min {
  color: #feffff;
  font-size: 14px;
  padding: 6px 5px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.29);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.29);
  -webkit-border-radius: 11px;
          border-radius: 11px;
  background-color: #0f4da2;
}

.btn--lightBlue {
  background-color: #44c7f4;
}

.btn--send {
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Rotonda", sans-serif;
  font-weight: 700;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  background-color: #0f4da2;
  padding: 12px 15px 10px;
}

.btn-wrap {
  text-align: center;
}

input, textarea {
  text-align: center;
  font-family: "Rotonda", sans-serif;
  color: #44c7f4;
  font-size: 24px;
  font-weight: 700;
  border-bottom: 2px solid #f1f1f1;
  background: transparent;
  width: 100%;
  max-width: 350px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #bcbcbc;
  font-size: 14px;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #bcbcbc;
  font-size: 14px;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #bcbcbc;
  font-size: 14px;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #bcbcbc;
  font-size: 14px;
}

input::placeholder, textarea::placeholder {
  color: #bcbcbc;
  font-size: 14px;
}

.input-group {
  width: 100%;
  position: relative;
}

.input-group--mt {
  margin-top: 20px;
}

.input-group--def input, .input-group--def textarea {
  padding: 11px 15px;
  border: none;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  background-color: #ffffff;
  text-align: left;
  max-width: 100%;
}

.input-group--def textarea {
  min-height: 150px;
}

.input-group input.error {
  border-bottom: 2px solid #ed1c24;
}

.input-group label.error {
  font-size: 13px;
  color: #ed1c24;
  text-align: center;
  margin-top: 3px;
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
}

.form {
  max-width: 760px;
  margin: 0 auto;
}

.main {
  padding-bottom: 30px;
}

.title {
  font-size: 24px;
  font-family: "Rotonda", sans-serif;
  text-align: center;
}

.title--big {
  font-size: 50px;
}

.title--yellow {
  color: #f4e42e;
}

.title--veryBig {
  font-size: 106px;
}

.title--blue {
  color: #0f4da2;
}

.title--medium {
  font-size: 30px;
}

.title--min {
  font-size: 18px;
}

.title--lightBlue {
  color: #44c7f4;
}

.title--mt {
  margin-top: 20px;
}

.title--mtBig {
  margin-top: 35px;
}

.registration {
  margin: -25px 0 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 135px 0 15px;
  position: relative;
}

.registration__photo {
  position: absolute;
  top: 42%;
  left: 44%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: none;
}

.registration__card {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-reg {
  width: 100%;
  position: relative;
}

.swiper-reg .swiper-slide {
  opacity: 0 !important;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

.swiper-reg .swiper-slide-active {
  opacity: 1 !important;
}

.swiper-reg .swiper-pagination {
  bottom: -25px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 9px;
}

.swiper-pagination-bullet {
  opacity: 1;
  background: #50cbf5;
}

.swiper-pagination-bullet-active {
  background: #0f4da2;
}

.biscuit {
  padding: 35px 0;
  margin-top: 40px;
  position: relative;
}

.biscuit__bg {
  position: absolute;
  top: 306px;
  bottom: -30px;
  right: 0;
  left: 0;
  background: url("../img/volna-reapyt.png") repeat-y top;
}

.biscuit__bg::before {
  content: '';
  position: absolute;
  top: -200px;
  left: 0;
  right: 0;
  height: 200px;
  background: url("../img/volna-top.png") no-repeat top;
}

.biscuit__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.biscuit__anim {
  width: 100%;
}

.biscuit__photo {
  display: none;
  width: 100%;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.biscuit__photo--3 {
  display: inline-block;
}

.biscuit__popup {
  position: absolute;
  background: url("../img/tooltip.png") no-repeat;
  height: 162px;
  width: 264px;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
  opacity: 0;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  pointer-events: none;
  text-align: center;
}

.biscuit__popQuest, .biscuit__popMenu {
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
  position: absolute;
  top: -webkit-calc(50% - 10px);
  top: calc(50% - 10px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.biscuit__popMenu {
  opacity: 0;
  pointer-events: none;
}

.biscuit__popMenu .btn + .btn {
  margin-left: 20px;
}

.biscuit__openWin {
  position: absolute;
  pointer-events: visible;
  top: 50%;
  width: 100%;
  text-align: center;
  padding: 0 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .4s linear .7s;
  -o-transition: all .4s linear .7s;
  transition: all .4s linear .7s;
  opacity: 0;
  left: 0;
}

.biscuit__card {
  width: -webkit-calc((100% / 6) - 1px);
  width: calc((100% / 6) - 1px);
  padding: 0 13px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  min-height: 165px;
}

.biscuit__card:nth-child(4n + 1) .biscuit__photo--1 {
  display: inline-block;
}

.biscuit__card:nth-child(4n + 1) .biscuit__photo--3 {
  display: none;
}

.biscuit__card:nth-child(2n) .biscuit__photo--2 {
  display: inline-block;
}

.biscuit__card:nth-child(2n) .biscuit__photo--3 {
  display: none;
}

.biscuit__card:hover .biscuit__popup, .biscuit__card.active-popup .biscuit__popup {
  opacity: 1;
  z-index: 1;
  pointer-events: visible;
}

.biscuit__card.active-popup .biscuit__popQuest {
  opacity: 0;
  pointer-events: none;
}

.biscuit__card.active-popup .biscuit__popMenu {
  opacity: 1;
  pointer-events: visible;
}

.biscuit__card.open .biscuit__openWin {
  opacity: 1;
}

.biscuit__card.open .biscuit__photo {
  display: none;
}

.biscuit__card.open .biscuit__photo--open {
  display: inline-block;
}

.biscuit__card.open:hover .biscuit__popup, .biscuit__card.open.active-popup .biscuit__popup {
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

.biscuit__card.open.open-anim .biscuit__photo--open {
  display: none;
}

.biscuit__card.js-dis .biscuit__popup {
  pointer-events: none;
  opacity: 0;
}

.zaglushka {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
}

.zaglushka__content {
  text-align: center;
  position: relative;
  z-index: 1;
}

.zaglushka__socialLink {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.zaglushka__socialLink li {
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.zaglushka__socialLink li + li {
  margin-left: 20px;
}

.zaglushka__socialLink li:hover {
  opacity: .7;
}

.zaglushka__body {
  margin-top: 30px;
}

.zaglushka__wrap {
  position: relative;
  padding: 0 15px;
}

.zaglushka__bg {
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 536px;
}

.zaglushka__bg-end {
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-46%);
      -ms-transform: translateX(-46%);
          transform: translateX(-46%);
  z-index: -1;
  min-width: 536px;
}

.how-to-open {
  display: none;
}

@media only screen and (max-height: 767px) {
  .zaglushka__wrap {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media only screen and (max-height: 600px) {
  .zaglushka__wrap {
    margin-top: -50px;
  }
}

@media only screen and (max-width: 991px) {
  .zaglushka {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 160px;
  }
  .zaglushka__wrap {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
  }
  .popup {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow-y: scroll;
  }
  .logo--absolute {
    position: static;
  }
  .header__wrap {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
  }
  .header .logo {
    max-width: 150px;
  }
  .header__nav {
    font-size: 15px;
  }
  .header__link + .header__link {
    margin-left: 30px;
  }
  .biscuit__card:nth-child(6n) .biscuit__popup {
    left: 28%;
  }
  .biscuit__card:nth-child(6n + 1) .biscuit__popup {
    left: 69%;
  }
  .biscuit__card {
    min-height: 140px;
    padding: 0 10px;
  }
  .popup__wrap {
    padding: 40px 20px;
  }
  .rules {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rules__card,
  .rules__card:nth-child(2) {
    width: 100%;
    margin-top: 20px;
  }
  .rules__download {
    color: #ffffff;
    border-color: #ffffff;
  }
  .rules__download:hover {
    color: #ffffff;
  }
  .rules__descPromo {
    color: #ffffff;
  }
}

@media only screen and (max-width: 767px) {
  .zaglushka__wrap {
    -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
            transform: scale(0.4);
  }
  .title--big {
    font-size: 40px;
  }
  .biscuit__card {
    width: -webkit-calc((100% / 4) - 1px);
    width: calc((100% / 4) - 1px);
    min-height: 165px;
  }
  .biscuit__card:nth-child(6n) .biscuit__popup,
  .biscuit__card:nth-child(6n + 1) .biscuit__popup {
    left: 50%;
  }
  .biscuit__card:nth-child(4n) .biscuit__popup {
    left: 28%;
  }
  .biscuit__card:nth-child(4n + 1) .biscuit__popup {
    left: 61%;
  }
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__nav li + li {
    margin-left: 0;
    margin-top: 15px;
  }
  .footer__nav li::before {
    top: -9px;
    -webkit-transform: translateX(-50%) translateY(0);
        -ms-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
    left: 50%;
  }
  .popup.no-code .popup__wrap .title {
    font-size: 70px;
  }
  .popup.no-code .popup__wrap {
    min-height: 525px;
  }
}

@media only screen and (max-width: 599px) {
  .biscuit__bg {
    top: 408px;
  }
  .header__burger {
    display: block;
  }
  .header__nav {
    position: absolute;
    top: 100%;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #15bef0;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    padding: 10px;
    -webkit-transform: translateX(-webkit-calc(100% + 15px));
        -ms-transform: translateX(calc(100% + 15px));
            transform: translateX(calc(100% + 15px));
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }
  .header__nav.active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .header__link + .header__link {
    margin-left: 0;
    margin-top: 10px;
  }
  .promo-link__start {
    display: none;
  }
  .promo-link__mob {
    display: block;
  }
  .promo-link__gold {
    display: none;
  }
  .promo-link {
    height: 50px;
    overflow: hidden;
  }
  .promo-link__goldMob {
    display: block;
  }
  .how-to-open {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 45px;
    -webkit-box-shadow: 0 -3px 9px 1px rgba(0, 0, 0, 0.23);
            box-shadow: 0 -3px 9px 1px rgba(0, 0, 0, 0.23);
    background-color: #ef2834;
    opacity: 0.9;
    z-index: 9;
  }
  .biscuit__card {
    padding: 0 5px;
  }
  .logo__img {
    max-height: 40px;
  }
  .header__nav {
    font-size: 13px;
  }
  .main {
    padding: 10px 0;
  }
  .biscuit .container > .title {
    display: none;
  }
  .biscuit {
    padding: 0;
    margin-top: -10px;
  }
  .registration__photo {
    top: 23%;
  }
  .registration {
    padding: 50px 0 15px;
    margin: 15px 0 1rem;
  }
  .popup.no-code .popup__wrap .title {
    font-size: 45px;
  }
  .popup.no-code .popup__wrap {
    min-height: 450px;
  }
  .title--big {
    font-size: 27px;
  }
  .cookies {
    padding: 15px 0;
  }
  .biscuit__card {
    width: -webkit-calc((100% / 2) - 1px);
    width: calc((100% / 2) - 1px);
  }
  .biscuit__card:nth-child(4n) .biscuit__popup,
  .biscuit__card:nth-child(4n + 1) .biscuit__popup {
    left: 50%;
  }
  .biscuit__card:nth-child(2n) .biscuit__popup {
    left: 28%;
  }
  .biscuit__card:nth-child(2n + 1) .biscuit__popup {
    left: 61%;
  }
  .rules__promo--bigMt {
    margin-top: 40px;
  }
  .popup__close {
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
  }
  .rules__download {
    font-size: 16px;
  }
}
