<footer class="footer">
    <div class="container">
        <ul class="footer__nav">
            <li><a href="#">Политика конфиденциальности</a></li>
            <li><a href="#">Правила акции</a></li>
            <li><a href="#">Пользовательское соглашение</a></li>
        </ul>
        <div class="footer__logo">
            <img src="img/mondelez.png" alt="">
        </div>
        <div class="footer__author">
            <p>ООО «Мон’дэлис Русь».</p>
            <p>Часть группы компаний Mondelēz International. Все права защищены.</p>
        </div>
    </div>
</footer>