<a href="http://получайпризы.рф" target="_blank" class="promo-link">
    <img class="promo-link__goldMob promo-link__goldMob--left" src="img/gold-mob-l.png" alt="">
    <img class="promo-link__goldMob promo-link__goldMob--right" src="img/gold-mob-r.png" alt="">
    <div class="promo-link__text">
        <img class="promo-link__start" src="img/go-sale.png" alt="">
        <img class="promo-link__mob" src="img/go-sale-mob.png" alt="">
        <img class="promo-link__gold promo-link__gold--left" src="img/gold-left.png" alt="">
        <img class="promo-link__gold promo-link__gold--right" src="img/gold-right.png" alt="">
    </div>
</a>
<header class="header">
    <div class="container">
        <div class="header__wrap">
            <a href="#" class="logo logo--absolute">
                <img class="logo__img" src="img/logo_oreo.png" alt="Logo">
            </a>
            <nav class="header__nav">
                <a href="#" class="header__link js-popup-button" data-popupShow="rules-game">Правила игры</a>
                <a href="#" class="header__link js-popup-button" data-popupShow="feedback">Обратная связь</a>
            </nav>
            <div class="header__burger">
                <img src="img/burger.svg" alt="">
            </div>
        </div>
    </div>
</header>