<!-- Cookies -->
<div class="cookies">
    <div class="container">
        <div class="cookies__text">
            <p>Мы используем технологию «cookies», чтобы упростить навигацию на нашем сайте. Чтобы принять политику
                “сookies” нажимите кнопку ниже или продолжите навигацию по сайту. Чтобы узнать больше о том, как мы
                используем “сookies”, нажмите <a href="#">здесь</a></p>
        </div>
        <a href="#" class="btn btn--cookie">
            Принять политику <br>
            конфиденциальности
        </a>
    </div>
</div>

<!-- Popup -->
<div class="popup rules-game">
    <div class="popup__wrap popup__wrap--dark">
        <img src="img/popup_exit.svg" alt="" class="popup__close js-close-popup">
        <div class="title title--big title--yellow">
            <p>ПРАВИЛА ИГРЫ</p>
        </div>
        <div class="rules flex-cont justify-sb">
            <div class="rules__card">
                <div class="rules__num">
                    <p>1</p>
                </div>
                <div class="title title--mt">
                    <p>Купи OREO <br>
                        в промо-упаковке</p>
                </div>
                <div class="rules__promo">
                    <img src="img/oreo-promo-1.png" alt="">
                    <div class="rules__descPromo">
                        <p>OREO Печенье с какао и начинкой <br>
                            со вкусом шоколада 228 г</p>
                    </div>
                </div>
                <div class="rules__promo">
                    <img src="img/oreo-promo-2.png" alt="">
                    <div class="rules__descPromo">
                        <p>ОREO Печенье с какао и начинкой <br>
                            с ванильным вкусом 228 г</p>
                    </div>
                </div>
            </div>
            <div class="rules__card">
                <div class="rules__num">
                    <p>2</p>
                </div>
                <div class="title title--mt">
                    <p>Найди внутри 1 из 1000 <br>
                        выигрышных билетов</p>
                </div>
                <div class="rules__promo rules__promo--ticket">
                    <img src="img/ticket-1.png" alt="">
                </div>
                <div class="rules__promo rules__promo--ticket">
                    <img src="img/ticket-2.png" alt="">
                </div>
                <a class="rules__download" href="img/logo_oreo.png" download>Скачать полные Правила Акции</a>
            </div>
            <div class="rules__card">
                <div class="rules__num">
                    <p>3</p>
                </div>
                <div class="title title--mt">
                    <p>Введи код с билета <br>
                        и получи <br>
                        гарантированный приз!</p>
                </div>
                <div class="rules__promo rules__promo--bigMt">
                    <div class="title title--big title--yellow">
                        <p>500 Р</p>
                    </div>
                </div>
                <div class="rules__promo rules__promo--bigMt">
                    <div class="title title--big title--yellow">
                        <p>1000 Р</p>
                    </div>
                </div>
                <div class="rules__promo rules__promo--bigMt">
                    <div class="title title--big title--yellow">
                        <p>3999 Р</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup feedback">
    <div class="popup__wrap popup__wrap--dark">
        <img src="img/popup_exit.svg" alt="" class="popup__close js-close-popup">
        <div class="title title--big title--yellow">
            <p>Обратная связь</p>
        </div>
        <div class="title title--mtBig">
            <p>Оставьте свое сообщение в этой форме, и мы обязательно ответим!</p>
        </div>
        <div class="form">
            <form>
                <div class="input-group input-group--def input-group--mt">
                    <textarea placeholder="Ваше сообщение*"></textarea>
                </div>
                <div class="input-group input-group--def input-group--mt">
                    <input type="text" placeholder="Ваше имя">
                </div>
                <div class="input-group input-group--def input-group--mt">
                    <input type="tel" placeholder="Ваш телефон">
                </div>
                <div class="input-group input-group--def input-group--mt">
                    <input type="email" placeholder="Ваш email*">
                </div>
                <div class="btn-wrap">
                    <button type="submit" class="btn btn--send btn--mt">ОТПРАВИТЬ</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="popup no-code">
    <div class="popup__wrap">
        <img src="img/popup_exit.svg" alt="" class="popup__close js-close-popup">
        <div class="title title--yellow title--veryBig">
            <p>Код введен <br> неверно</p>
        </div>
        <span class="btn btn--send btn--mt js-close-popup">Ввести код повторно</span>
    </div>
</div>

<div class="popup open-oreo">
    <div class="popup__wrap">
        <img src="img/popup_exit.svg" alt="" class="popup__close js-close-popup">
        <div class="title title--big title--yellow">
            <p>Открой любое печенье <br>
                и получи приз!</p>
        </div>
        <div class="open-oreo__photo">
            <img class="js-close-popup" src="img/oreo-big.png" alt="">
            <div class="title title--lightBlue title--big">
                <p>ИГРАТЬ</p>
            </div>
        </div>
    </div>
</div>

<!-- zaglushka -->

<div class="zaglushka">
    <div class="zaglushka__wrap">
        <img class="zaglushka__bg" src="img/zaglushka-bg.png" alt="">
        <img class="zaglushka__bg-end" src="img/zaglushka-bg-end.png" alt="">
        <div class="zaglushka__content">
            <img class="zaglushka__title" src="img/zaglushka-title.png" alt="">
            <ul class="zaglushka__socialLink">
                <li><a href="#" target="_blank"><img src="img/vk.png" alt=""></a></li>
                <li><a href="#" target="_blank"><img src="img/fb.png" alt=""></a></li>
                <li><a href="#" target="_blank"><img src="img/in.png" alt=""></a></li>
                <li><a href="#" target="_blank"><img src="img/ok.png" alt=""></a></li>
            </ul>
            <img class="zaglushka__body" src="img/zaglushka-body.png" alt="">
        </div>
    </div>
</div>