// Button ---------------------
.btn {
  display: inline-block;
  text-align: center;
  transition: all .2s linear;
  cursor: pointer;

  &--circle {
    width: 100px;
    height: 100px;
    background-color: #ef2834;
    border-radius: 50%;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Rotonda", sans-serif;
    font-size: 15px;
    font-weight: 700;
  }

  &--mt {
    margin-top: 20px;
  }

  &--cookie {
    font-family: "Helvetica", sans-serif;
    font-size: 12px;
    font-weight: 400;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.29);
    border-radius: 18px;
    background-color: #44c7f4;
    max-width: 225px;
    width: 100%;
    padding: 5px 10px;
  }

  &--min {
    color: #feffff;
    font-size: 14px;
    padding: 6px 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.29);
    border-radius: 11px;
    background-color: #0f4da2;
  }

  &--lightBlue {
    background-color: #44c7f4;
  }

  &--send {
    font-size: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Rotonda", sans-serif;
    font-weight: 700;
    border-radius: 20px;
    background-color: #0f4da2;
    padding: 12px 15px 10px;
  }
}

.btn-wrap {
  text-align: center;
}

// Input
input, textarea {
  text-align: center;
  font-family: "Rotonda", sans-serif;
  color: #44c7f4;
  font-size: 24px;
  font-weight: 700;
  border-bottom: 2px solid #f1f1f1;
  background: transparent;
  width: 100%;
  max-width: 350px;
  transition: all .2s linear;

  &::placeholder {
    color: #bcbcbc;
    font-size: 14px;
  }
}

.input-group {
  width: 100%;
  position: relative;

  &--mt {
    margin-top: 20px;
  }

  &--def {

    input, textarea {
      padding: 11px 15px;
      border: none;
      border-radius: 15px;
      background-color: #ffffff;
      text-align: left;
      max-width: 100%;
    }

    textarea {
      min-height: 150px;
    }
  }

  //.error-log {
  //  font-size: 13px;
  //  color: #ed1c24;
  //  text-align: center;
  //  margin-top: 3px;
  //  display: none;
  //  position: absolute;
  //  left: 0;
  //  top: 100%;
  //  width: 100%;
  //}
  //
  //&.error {
  //
  //  input {
  //    border-bottom: 2px solid #ed1c24;
  //  }
  //
  //  .error-log {
  //    display: block;
  //  }
  //}

  input.error {
    border-bottom: 2px solid #ed1c24;
  }

  label.error {
    font-size: 13px;
    color: #ed1c24;
    text-align: center;
    margin-top: 3px;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
  }
}

.form {
  max-width: 760px;
  margin: 0 auto;
}

// Main
.main {
  padding-bottom: 30px;
}

// Title
.title {
  font-size: 24px;
  font-family: "Rotonda", sans-serif;
  text-align: center;

  &--big {
    font-size: 50px;
  }

  &--yellow {
    color: $titleColor;
  }

  &--veryBig {
    font-size: 106px;
  }

  &--blue {
    color: #0f4da2;
  }

  &--medium {
    font-size: 30px;
  }

  &--min {
    font-size: 18px;
  }

  &--lightBlue {
    color: #44c7f4;
  }

  &--mt {
    margin-top: 20px;
  }

  &--mtBig {
    margin-top: 35px;
  }
}

// Registration
.registration {
  margin: -25px 0 1rem;
  display: flex;
  align-items: center;
  padding: 135px 0 15px;
  position: relative;

  &__photo {
    position: absolute;
    top: 42%;
    left: 44%;
    transform: translate(-50%, -50%);
    max-width: none;
  }

  &__card {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.swiper-reg {
  width: 100%;
  position: relative;

  .swiper-slide {
    opacity: 0 !important;
    transition: all .1s linear;

    &-active {
      opacity: 1 !important;
    }
  }

  .swiper-pagination {
    bottom: -25px;
  }
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 9px;
}

.swiper-pagination-bullet {
  opacity: 1;
  background: #50cbf5;
}

.swiper-pagination-bullet-active {
  background: #0f4da2;
}

// Biscuit
.biscuit {
  padding: 35px 0;
  margin-top: 40px;
  position: relative;

  &__bg {
    position: absolute;
    top: 306px;
    bottom: -30px;
    right: 0;
    left: 0;
    background: url("../img/volna-reapyt.png") repeat-y top;

    &::before {
      content: '';
      position: absolute;
      top: -200px;
      left: 0;
      right: 0;
      height: 200px;
      background: url("../img/volna-top.png") no-repeat top;
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__anim {
    width: 100%;
  }

  &__photo {
    display: none;
    width: 100%;
    flex-shrink: 0;

    &--3 {
      display: inline-block;
    }
  }

  &__popup {
    position: absolute;
    background: url("../img/tooltip.png") no-repeat;
    height: 162px;
    width: 264px;
    transition: all .1s linear;
    opacity: 0;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    pointer-events: none;
    text-align: center;
  }

  &__popQuest,
  &__popMenu {
    transition: all .1s linear;
    position: absolute;
    top: calc(50% - 10px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  &__popMenu {
    opacity: 0;
    pointer-events: none;

    .btn + .btn {
      margin-left: 20px;
    }
  }

  &__openWin {
    position: absolute;
    pointer-events: visible;
    top: 50%;
    width: 100%;
    text-align: center;
    padding: 0 20px;
    transform: translateY(-50%);
    transition: all .4s linear .7s;
    opacity: 0;
    left: 0;
  }

  &__card {
    width: calc((100% / 6) - 1px);
    padding: 0 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 165px;

    &:nth-child(4n + 1) {
      .biscuit__photo--1 {
        display: inline-block;
      }

      .biscuit__photo--3 {
        display: none;
      }
    }

    &:nth-child(2n) {
      .biscuit__photo--2 {
        display: inline-block;
      }

      .biscuit__photo--3 {
        display: none;
      }
    }

    &:hover,
    &.active-popup {

      .biscuit__popup {
        opacity: 1;
        z-index: 1;
        pointer-events: visible;
      }
    }

    &.active-popup {

      .biscuit__popQuest {
        opacity: 0;
        pointer-events: none;
      }

      .biscuit__popMenu {
        opacity: 1;
        pointer-events: visible;
      }
    }

    &.open {

      .biscuit__openWin {
        opacity: 1;
      }

      .biscuit__photo {
        display: none;

        &--open {
          display: inline-block;
        }
      }

      &:hover,
      &.active-popup {

        .biscuit__popup {
          opacity: 0;
          z-index: -1;
          pointer-events: none;
        }
      }

      &.open-anim {

        .biscuit__photo--open {
          display: none;
        }
      }
    }

    &.js-dis .biscuit__popup {
      pointer-events: none;
      opacity: 0;
    }
  }
}

// Zaglushka

.zaglushka {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  opacity: 0;

  &__content {
    text-align: center;
    position: relative;
    z-index: 1;
  }

  &__socialLink {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      transition: all .2s linear;

      & + li {
        margin-left: 20px;
      }

      &:hover {
        opacity: .7;
      }
    }
  }

  &__body {
    margin-top: 30px;
  }

  &__wrap {
    position: relative;
    padding: 0 15px;
  }

  &__bg {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 536px;
  }

  &__bg-end {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-46%);
    z-index: -1;
    min-width: 536px;
  }
}

.how-to-open {
  display: none;
}