// Snow theme
body.snow {

  .height-helper {
    background: url("../img/snow.png") repeat-y bottom;
  }

  .header__link {
    color: #0f4da2;
    border-bottom: 1px solid #0f4da2;
  }

  .cookies {
    background-color: #44c7f4;
  }

  .btn--cookie {
    background-color: #0f4da2;
  }

  .popup__wrap {
    background-color: #5ec3f0;
  }

  .rules__descPromo,
  .rules__download,
  .rules__promo .title--yellow {
    color: #243676;
  }

  .rules__download {
    border-bottom: 2px solid #243676;
  }

  .btn--send {
    background-color: #0f4da2;
  }
}

body.zaglushka-active {

  .height-helper {
    filter: blur(5px);
  }

  .zaglushka {
    pointer-events: visible;
    z-index: 99;
    opacity: 1;
  }
}