@font-face {
  font-family: 'Rotonda';
  src: url('../fonts/Rotonda-Bold.eot');
  src: url('../fonts/Rotonda-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rotonda-Bold.woff2') format('woff2'),
  url('../fonts/Rotonda-Bold.woff') format('woff'),
  url('../fonts/Rotonda-Bold.ttf') format('truetype'),
  url('../fonts/Rotonda-Bold.svg#Rotonda-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Regular.eot');
  src: url('../fonts/Helvetica-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Helvetica-Regular.woff2') format('woff2'),
  url('../fonts/Helvetica-Regular.woff') format('woff'),
  url('../fonts/Helvetica-Regular.ttf') format('truetype'),
  url('../fonts/Helvetica-Regular.svg#Helvetica-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

