.footer {
  background-color: #fff;
  padding: 20px 0 5px;
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  position: relative;
  z-index: 999;

  &__nav {
    display: flex;
    flex-wrap: wrap;
    color: #44c7f4;
    justify-content: center;
    font-size: 12px;

    li {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        background-color: #b4252c;
        height: 7px;
        width: 7px;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        left: -32px;
      }

      &:first-child::before {
        display: none;
      }

      & + li {
        margin-left: 55px;
      }
    }
  }

  &__logo {
    margin-top: 35px;
    text-align: center;
  }

  &__author {
    margin-top: 15px;
    font-size: 11px;
    color: #3d2c82;
    text-align: center;
  }
}