.header {
  position: relative;
  z-index: 10;

  &__burger {
    cursor: pointer;
    display: none;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    height: 110px;
    position: relative;
  }

  &__nav {
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
  }

  &__link {
    border-bottom: 1px solid #fff;

    & + .header__link {
      margin-left: 55px;
    }
  }
}


.logo {
  max-width: 210px;
  max-height: 80px;
  display: inline-block;

  &--absolute {
    position: absolute;
    left: 0;
    top: 40%;
  }
}

.promo-link {
  background-color: #15bef0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 99;

  &__goldMob {
    position: absolute;
    display: none;
    max-width: initial;
    top: 0;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }

  &__mob {
    display: none;
  }

  &__text {
    position: relative;
  }

  &__gold {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: initial;

    &--left {
      right: calc(100% + 50px);
    }

    &--right {
      left: calc(100% + 50px);
    }
  }
}