@media only screen and (max-height: 767px) {
  .zaglushka__wrap {
    transform: scale(.6);
  }
}

@media only screen and (max-height: 600px) {
  .zaglushka__wrap {
    margin-top: -50px;
  }
}

@media only screen and (max-width: 991px) {

  .zaglushka {
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 160px;
  }

  .zaglushka__wrap {
    transform: scale(.6);
  }

  .popup {
    justify-content: flex-start;
    overflow-y: scroll;
  }

  .logo {

    &--absolute {
      position: static;
    }
  }

  .header {

    &__wrap {
      align-items: center;
      justify-content: space-between;
      height: auto;
    }

    .logo {
      max-width: 150px;
    }

    &__nav {
      font-size: 15px;
    }

    &__link + .header__link {
      margin-left: 30px;
    }
  }

  .biscuit__card:nth-child(6n) {
    .biscuit__popup {
      left: 28%;
    }
  }

  .biscuit__card:nth-child(6n + 1) {
    .biscuit__popup {
      left: 69%;
    }
  }

  .biscuit__card {
    min-height: 140px;
    padding: 0 10px;
  }

  .popup__wrap {
    padding: 40px 20px;
  }

  .rules {
    flex-direction: column;
  }

  .rules__card,
  .rules__card:nth-child(2){
    width: 100%;
    margin-top: 20px;
  }

  .rules__download {
    color: #ffffff;
    border-color: #ffffff;

    &:hover {
      color: #ffffff;
    }
  }

  .rules__descPromo {
    color: #ffffff;
  }
}

@media only screen and (max-width: 767px) {

  .zaglushka__wrap {
    transform: scale(0.4);
  }

  .title--big {
    font-size: 40px;
  }

  .biscuit__card {
    width: calc((100% / 4) - 1px);
    min-height: 165px;
  }

  .biscuit__card:nth-child(6n),
  .biscuit__card:nth-child(6n + 1){
    .biscuit__popup {
      left: 50%;
    }
  }

  .biscuit__card:nth-child(4n) {
    .biscuit__popup {
      left: 28%;
    }
  }

  .biscuit__card:nth-child(4n + 1) {
    .biscuit__popup {
      left: 61%;
    }
  }

  .footer__nav {
    flex-direction: column;
    align-items: center;
  }

  .footer__nav li + li {
    margin-left: 0;
    margin-top: 15px;
  }

  .footer__nav li::before {
    top: -9px;
    transform: translateX(-50%) translateY(0);
    left: 50%;
  }

  .popup.no-code .popup__wrap .title {
    font-size: 70px;
  }

  .popup.no-code .popup__wrap {
    min-height: 525px;
  }
}

@media only screen and (max-width: 599px) {

  .biscuit__bg {
    top: 408px;
  }

  .header__burger {
    display: block;
  }

  .header__nav {
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #15bef0;
    border-radius: 5px;
    padding: 10px;
    transform: translateX(calc(100% + 15px));
    transition: all .2s ease-out;

    &.active {
      transform: translateX(0);
    }
  }

  .header__link + .header__link {
    margin-left: 0;
    margin-top: 10px;
  }

  .promo-link__start {
    display: none;
  }

  .promo-link__mob {
    display: block;
  }

  .promo-link__gold {
    display: none;
  }

  .promo-link {
    height: 50px;
    overflow: hidden;
  }

  .promo-link__goldMob {
    display: block;
  }

  .how-to-open {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    box-shadow: 0 -3px 9px 1px rgba(0, 0, 0, 0.23);
    background-color: #ef2834;
    opacity: 0.9;
    z-index: 9;
  }

  .biscuit__card {
    padding: 0 5px;
  }

  .logo__img {
    max-height: 40px;
  }

  .header__nav {
    font-size: 13px;
  }

  .main {
    padding: 10px 0;
  }

  .biscuit .container > .title {
    display: none;
  }

  .biscuit {
    padding: 0;
    margin-top: -10px;
  }

  .registration__photo {
    top: 23%;
  }

  .registration {
    padding: 50px 0 15px;
    margin: 15px 0 1rem;
  }

  .popup.no-code .popup__wrap .title {
    font-size: 45px;
  }

  .popup.no-code .popup__wrap {
    min-height: 450px;
  }

  .title--big {
    font-size: 27px;
  }

  .cookies {
    padding: 15px 0;
  }

  .biscuit__card {
    width: calc((100% / 2) - 1px);
  }

  .biscuit__card:nth-child(4n),
  .biscuit__card:nth-child(4n + 1){
    .biscuit__popup {
      left: 50%;
    }
  }

  .biscuit__card:nth-child(2n) {
    .biscuit__popup {
      left: 28%;
    }
  }

  .biscuit__card:nth-child(2n + 1) {
    .biscuit__popup {
      left: 61%;
    }
  }

  .rules__promo--bigMt {
    margin-top: 40px;
  }

  .popup__close {
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
  }

  .rules__download {
    font-size: 16px;
  }
}