// Cookies -----------
.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #0f4da2;
  padding: 25px 0 20px;
  text-align: center;
  transition: all .2s linear;
  opacity: 0;
  z-index: -1;

  &__text {
    margin: 0 auto 15px;
    max-width: 600px;
    font-size: 12px;
    font-family: "Helvetica" ,sans-serif;
    font-weight: 400;

    a {
      color: #f6ee0e;
      border-bottom: 1px solid #f6ee0e;
    }
  }

  &.js-show {
    opacity: 1;
    z-index: 999;
  }
}

// Popup -------------
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0,0,0, .7);
  z-index: -1;
  opacity: 0;
  transition: all .2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  pointer-events: none;

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 37px;
    height: 37px;
    cursor: pointer;
  }

  &__wrap {
    max-width: 1080px;
    width: 100%;
    padding: 45px 55px;
    position: relative;
    border-radius: 15px;
    background-color: #5ec3f0;
    transform: translateY(-50px);
    transition: all .3s linear;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../img/popup-snow.png) no-repeat bottom;
      pointer-events: none;
      border-radius: 15px;
      z-index: -1;
    }

    &--dark {
      background-color: #0f357d;

      &::before {
        background: url(../img/popup-bg-dark.png) no-repeat bottom;
      }
    }

    &--min {
      max-width: 580px;
    }
  }

  &.no-code {

    .popup__wrap {
      min-height: 625px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .title {
        padding-top: 100px;
      }
    }
  }

  .open-oreo__photo {
    text-align: center;
    margin-top: 35px;
    position: relative;

    img {
      cursor: pointer;
      border-radius: 50%;
      overflow: hidden;
    }

    .title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
  }
}

// Show
.js-popup-show {
  z-index: 99999;
  opacity: 1;
  pointer-events: visible;

  .popup__wrap {
    transform: translateY(0);
  }
}

// Rules
.rules {
  margin-top: 10px;

  &__card {
    text-align: center;
    width: calc(100% / 3);
    margin-top: -40px;

    &:nth-child(2) {
      width: 45%;
      flex-shrink: 0;
      margin-top: 0;
    }
  }

  &__num {
    width: 46px;
    height: 46px;
    border: 5px solid #ffffff;
    display: inline-block;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 39px;
  }

  &__descPromo {
    font-size: 12px;
    margin-top: 5px;
    color: #243676;
  }

  &__promo {
    margin-top: 25px;

    img {
      box-shadow: 0 0 50px #fff;
    }

    &--ticket {
      margin-top: 45px;

      img {
        box-shadow: none;
      }
    }

    &--bigMt {
      margin-top: 45px;
    }

    .title {
      color: #243575;
      padding: 13px 30px;
      background-color: #f5fefb;
      border-radius: 30px;
      display: inline-block;
    }
  }

  &__download {
    color: #243575;
    font-size: 25px;
    border-bottom: 2px solid #243575;
    transition: all .1s linear;
    margin-top: 15px;
    display: inline-block;

    &:hover {
      border-bottom: 2px solid transparent;
      color: #243575;
    }
  }
}